<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Shopping Cart Parallel Testing Suite">
    <test name = "Login Page Tests" parallel = "classes" thread-count="5" verbose="2">
        <classes>
            <class name = "runner.TestRunner" />
        </classes>
    </test>
</suite>